# Python cache files
__pycache__

# Local folders
*.egg-info
/diags
/build
/dist
/examples/track_plasma_stage_old.py
/examples/tests.py
/old_stuff

# Test output
/tests_output

# IDEs
/.vscode

# Other
*.pdf
*.pptx
/venv
/.idea
